# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.shape[0]

4622

In [7]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [9]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).index[0]
print(f"The most-ordered item is: {most_ordered_item}")

The most-ordered item is: Chicken Bowl

In [12]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [15]:
most_ordered_item_quantity = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).values[0]
print(f"The total quantity of the most-ordered item is: {most_ordered_item_quantity}")

The total quantity of the most-ordered item is: 761

### Step 11. What was the most ordered item in the choice_description column?

In [17]:
most_ordered_choice = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).index[0]
print(f"The most-ordered item in the choice_description column is: {most_ordered_choice}")

The most-ordered item in the choice_description column is: [Diet Coke]

### Step 12. How many items were orderd in total?

In [18]:
total_items_ordered = chipo['quantity'].sum()
print(f"Total items ordered: {total_items_ordered}")

Total items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [28]:
print(chipo['item_price'].dtype)

float64

#### Step 13.b. Create a lambda function and change the type of item price

In [33]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x))

#### Step 13.c. Check the item price type

In [34]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [29]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f"Total revenue: ${revenue:.2f}")

Total revenue: $39237.02

### Step 15. How many orders were made in the period?

In [30]:
num_orders = chipo['order_id'].nunique()
print(f"Total number of orders: {num_orders}")

Total number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1
average_revenue_per_order = revenue / num_orders
print(f"Average revenue per order: ${average_revenue_per_order:.2f}")

Average revenue per order: $21.39

In [35]:
# Solution 2
average_revenue_per_order = chipo.groupby('order_id')['item_price'].sum().mean()
print(f"Average revenue per order: ${average_revenue_per_order:.2f}")

Average revenue per order: $18.81

### Step 17. How many different items are sold?

In [32]:
num_different_items = chipo['item_name'].nunique()
print(f"Number of different items sold: {num_different_items}")

Number of different items sold: 50